.loginPage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    margin-top: 2rem;


}

.loginPageContainer {
    height: 98vh;
    /*background: linear-gradient(166.7deg, rgba(9, 109, 202, 0.03)-0.68%, rgba(255, 255, 255, 0.024) 40%, rgba(9, 109, 202, 0.24) 100%);*/
    background: crimson;
    display: flex;
    justify-content: center;
    align-content: center;

}

/*#__next {
    margin: 0;
    padding: 0;
}
*/