.loginPageContainer {
    width: 100%;
    height: 76.8rem;
    background: linear-gradient(116.7deg, rgba(9, 109, 202, 0.03) -0.68%, rgba(255, 255, 255, 0.005625) 26.59%, rgba(255, 255, 255, 0) 49.66%, rgba(255, 255, 255, 0.269) 66.97%, rgba(9, 109, 202, 0.274) 100%);
    display: flex;
    justify-content: center;
    align-content: center;
}

/*Page of login*/
.loginPage {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.star1 {
    position: relative;
    z-index: 0;
    bottom: -1rem;
    left: 44rem;

}

.star2 {
    position: relative;
    top: 26rem;
    right: 44rem;
    z-index: 0;
}