.activation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60rem;
    height: 76.8rem;
    background: #FFFFFF;
    position: relative;
    left: 5.48rem;
}

.activation h1 {
    font-weight: 700;
    font-size: 4rem;
    line-height: 100%;
    text-align: center;
    color: #12518C;
    margin-top: 22rem;
    margin-bottom: 5rem;
}

.p1 {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 110%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #121212;
    align-self: stretch;
    margin-bottom: 1rem;
}

.p2 {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 110%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #828282;

}

.input {
    width: 5.6rem;
    height: 5.6rem;
    margin-left: 2rem;
    background: #FFFFFF;
    border: 1.5px solid #096DCA;
    border-radius: 9px;
    isolation: isolate;
}

.inputsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.button {
    align-items: center;
    width: 15rem;
    height: 3.3rem;
    background: #12518C;
    border-radius: 5px;
    margin-top: 5rem;
}