.loginContainer {
    display: flex;
    flex-direction: column;
    min-width: 36rem;
    height: 40rem;
    background-color: #FFFFFF;
    align-items: center;
    z-index: 1;
    margin-top: 10rem;
    position: relative;
    left: 12rem;
    box-shadow: 0px 8px 20px rgba(9, 109, 202, 0.08);
}

.loginContainer h2 {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 2rem;
    line-height: 100%;
    letter-spacing: 0.01em;
    color: #12518C;
}

.loginContainer span {
    font-family: 'Nunito';
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 100%;
    color: #636363;
}

.loginContainer h4 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 100%;
    color: #1A1A1A;
}

.loginContainer h3 {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #096DCA;
}