.loginContainer {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 50rem;
    background-color: #FFFFFF;
    z-index: 1;
    position: relative;
    top: 10rem;
    box-shadow: 0px 8px 20px rgba(9, 109, 202, 0.08);
}

/*h2 Bienvenido a Notir*/
.loginContainer h2 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 100%;
    letter-spacing: 0.01em;
    color: #12518C;
    text-align: start;
    margin-top: 8rem;
    margin-left: 10%;
}

/*span Acceda a su cuenta*/
.loginContainer span {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 100%;
    color: #636363;
    margin-top: 0.4rem;
    margin-bottom: 2.4rem;
    margin-left: 10%;
}

/*Form*/
.loginContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 34rem;
    z-index: 2;
}

/*h4 Usuario o coreo electronico*/
.loginContainer h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 100%;
    color: #1A1A1A;
    margin-top: 1.6rem;
    align-self: start;
    margin-left: 40px;
}

/*input*/
.input {
    width: 80%;
    height: 4.8rem;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    margin-top: 0.4rem;
}

.eye {
    color: #096DCA;
}

/*h3 Olvidaste tu contraseña*/
.loginContainer h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #096DCA;
    margin-top: 4rem;
}

/*buttn iniciar sesion*/
.button {
    width: 80%;
    height: 4.8rem;
    background: #CCCCCC;
    border-radius: 4px;
    margin-top: 4rem;
}